<div class="modal-overlay" (click)="onOverlayClick($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Editar Personaje</h2>
        <button class="close-btn" (click)="close()">×</button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="saveChanges()">
          <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" [(ngModel)]="editedCharacter.name" required>
          </div>
          <div class="form-group">
            <label for="status">Estado:</label>
            <input type="text" id="status" name="status" [(ngModel)]="editedCharacter.status" required>
          </div>
          <div class="form-group">
            <label for="species">Especie:</label>
            <input type="text" id="species" name="species" [(ngModel)]="editedCharacter.species" required>
          </div>
          <div class="form-group">
            <label for="type">Tipo:</label>
            <input type="text" id="type" name="type" [(ngModel)]="editedCharacter.type">
          </div>
          <div class="form-group">
            <label for="gender">Género:</label>
            <input type="text" id="gender" name="gender" [(ngModel)]="editedCharacter.gender" required>
          </div>
          <div class="form-group">
            <label for="origin">Origen:</label>
            <input type="text" id="origin" name="origin" [(ngModel)]="editedCharacter.origin.name" required>
          </div>
          <div class="form-group">
            <label for="location">Ubicación:</label>
            <input type="text" id="location" name="location" [(ngModel)]="editedCharacter.location.name" required>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-save">Guardar Cambios</button>
            <button type="button" class="btn btn-cancel" (click)="close()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>